body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color:BlanchedAlmond ;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: Beige;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
}


iframe {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        iframe {
            width: 420px;
            height: 345px;
        }