body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blanchedalmond;
    border-radius: 8px;
}

nav a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
}

nav span {
    background: linear-gradient(45deg, blanchedalmond, #799c85);
    border-radius: 8px;
    margin: 0 5px;
}

header {
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: beige;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

iframe {
    display: block;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    height: 400px;
}

.photo img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
